version: '3.3'

services:
  prometheus:
    image: prom/prometheus:latest
    user: "1001:1001"
    container_name: prometheus
    restart: unless-stopped
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - ./data/prometheus:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
    extra_hosts:
      # initiate host ip in container. 
      # It is needed to get into container a node exporter hosted on VM.
      - "host.docker.internal:172.17.0.1"  

  grafana:
    image: grafana/grafana:latest
    user: "1001:1001"
    container_name: monitoring_grafana
    restart: unless-stopped
    volumes:
      - ./data/grafana:/var/lib/grafana
      - ./grafana/dashboards:/usr/share/grafana/public/dashboards
      - ./grafana/provisioning:/etc/grafana/provisioning
    environment:
      - GF_SECURITY_ADMIN_PASSWORD={{ grafana_admin_pass }}
      - GF_DASHBOARDS_DEFAULT_HOME_DASHBOARD_PATH=/usr/share/grafana/public/dashboards/{{ grafana_dashboard_file_name }}
    ports:
      - "{{ grafana_port }}:{{ grafana_port }}"

